<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongcheng.erp.dao.Jxb_ItemEspDAO">
	<insert id="insertListSelective">
		insert into item_esp_info
		(item_id,owner_id,gmt_create,platform_id,platform_item_sku,length,width,height,weight,style_code)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.itemId},
			#{item.ownerId},
			#{item.gmtCreate},
			#{item.platformId},
			#{item.platformItemSku},
			#{item.length},
			#{item.width},
			#{item.height},
			#{item.weight},
			#{item.styleCode}
			)
		</foreach>
	</insert>
</mapper>