<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 
<mapper namespace="com.rongcheng.erp.dao.Xzy_RegionCodeNameDao">
<!-- 将地区名和地区编码插入到region_code_name数据表中 -->
<insert id="insertRegionCodeName" >
  INSERT INTO region_code_name
  (region_code,region_name)
  VALUES
  <foreach item="name" index="key" collection="code" open="" separator="," close="">
    (#{key},#{name})
  </foreach>
</insert>
<!-- 根据地区名查询地区编码 -->
<select id="selectRegionCode" parameterType="String" resultType="Integer">
  SELECT region_code as regionCode
  FROM region_code_name   
  WHERE region_name like CONCAT(CONCAT('%', #{regionName}), '%');
</select>
</mapper>