.list_table td{
	
	padding: 5px;
	vertical-align: top;
}
.list_table td>p{
	width: 100px;
	text-overflow:ellipsis; 
    overflow:hidden;
    display:-webkit-box; 
    -webkit-line-clamp:2; 
    -webkit-box-orient: vertical;
    margin: 0 auto;
}
.search_bottom{
	border-bottom: 1px solid #ddd;
	padding:10px;
}
.a_btn_sync{
	margin-top: 5px;
}

.shopping_box:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.shopping_box{
	height: 550px;
}
.shopping_box .right_list_shopping{
	float: right;
	width: calc(100% - 150px);
	width: -moz-calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	height: 100%;
	border-left: 1px solid #ddd;
	overflow: auto;
}
.shopping_box .left_shopping{
	float: left;
	width: 150px;
	padding-top: 60px;
	padding-left: 0;
	height: 100%;
}
.shopping_box .left_shopping .left_fl{
	width: 150px;
	height: 490px;
	overflow: auto;
	padding-left: 0;
}
.shopping_box .left_shopping li{
	width: 150px;
	line-height: 30px;
	padding-left: 20px;	
    white-space: nowrap;
}
.all_price{
	height: 60px;
	width: 100%;
}
.all_price li{
	height: 30px;
	line-height: 30px;
	margin-left: -20px;
	padding-left: 20px;
}
.all_price li:nth-child(1){
	background: #B0C4DE;
}
.all_price li:nth-child(2){
	background: #C8E0F2;
}
.all_price li .span{
	display: inline-block;
	width: 100px;

}
.all_price li .span:nth-child(1){
	width: 12%;
}
.all_price li .span:nth-child(2){
	margin-left: 450px;
}
.matching_box{
	position: relative;
}
.widthSize{
	margin-bottom: 10px;
	border: 2px solid #999;
}
.widthSize tr:last-child{
	border-bottom: 1px solid #ddd;
}
.widthSize td{
	width: 100px;
	background: #eef;
}
.widthSize td>span{
	display: inline-block;
	width: 100px;
	text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
}

