/* 两个页面的a标签 */
#expressTemplate_table a {
	cursor:pointer;
}
#invoiceTemplate_table a {
	cursor:pointer;
}

/* 两个页面的span标签 */
#expressTemplate_table span {
	cursor:pointer;
}
#invoiceTemplate_table span {
    cursor:pointer;
}

/* 两个页面添加按钮 */
#expressTemplate_addExpressTemplate {
	cursor:pointer;
}
#invoiceTemplate_addInvoiceTemplate {
    cursor:pointer;
}

.clicking_font_li{
    border: 2px solid #09F;
    border-radius:5px
}
.clicking_li_font{
    border: 2px solid #FFF;
    border-radius:5px
}

.clicking_img_li{
    border: 2px solid #09F;
    border-radius:5px
}
.clicking_li_img{
    border: 2px solid #FFF;
    border-radius:5px
}

/*两个下一步按钮*/
#expressTemplate_next a {
	cursor:pointer;
}
#invoiceTemplate_next a {
    cursor:pointer;
}

#expressTemplate_carrierInfo .company_head {
	cursor:default;
}

#expressTemplate_printTemplateImage .picture_head {
	cursor:default;
}

.template_content_title {
	cursor:default;
}

.template_content input[type="radio"] {
	cursor:pointer;
}