<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongcheng.erp.dao.Wzy_ItemInfoDAO" >
	
    <resultMap id="ItemCommonInfoMap" type="com.rongcheng.erp.entity.ItemCommonInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
    	<result column="erp_item_num" property="erpItemNum" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="platform_id" property="platformId" jdbcType="BIGINT" />
        <result column="platform_item_sku" property="platformItemSku" jdbcType="BIGINT" />
        <result column="user_shop_code" property="userShopCode" jdbcType="VARCHAR" />
        <result column="user_item_code" property="userItemCode" jdbcType="VARCHAR" />
        <result column="warehouse_id" property="warehouseId" jdbcType="BIGINT" />
        <result column="image1" property="image1" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="series" property="series" jdbcType="VARCHAR" />
        <result column="color" property="color" jdbcType="VARCHAR" />
        <result column="size" property="size" jdbcType="VARCHAR" />
        <result column="normal_price" property="normalPrice" jdbcType="DECIMAL" />
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
        <result column="promotion_price" property="promotionPrice" jdbcType="DECIMAL" />
        <result column="bar_code" property="barCode" jdbcType="TIMESTAMP" />
        <result column="package_condition" property="packageCondition" jdbcType="VARCHAR" />
        <result column="user_classification" property="userClassification" jdbcType="VARCHAR" />
        <result column="is_presell" property="presell" jdbcType="TINYINT" />
        <result column="is_commission_sell" property="commissionSell" jdbcType="TINYINT" />
        <result column="is_gift" property="gift" jdbcType="TINYINT" />
        <result column="bar_code_image" property="barCodeImage" jdbcType="VARCHAR" />
        <result column="qr_code_image" property="qrCodeImage" jdbcType="VARCHAR" />
        <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="is_authorized" property="authorized" jdbcType="VARCHAR" />
        <result column="item_secret_key" property="itemSecretKey" jdbcType="VARCHAR" />
        <result column="owner_id" property="ownerId" jdbcType="BIGINT" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
        <result column="spec" property="spec" jdbcType="VARCHAR" />
	</resultMap>

    <resultMap id="ItemEspInfoMap" type="com.rongcheng.erp.entity.ItemEspInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="platform_id" property="platformId" jdbcType="BIGINT" />
        <result column="platform_item_sku" property="platformItemSku" jdbcType="BIGINT" />
        <result column="spec" property="spec" jdbcType="VARCHAR" />
        <result column="image2" property="image2" jdbcType="VARCHAR" />
        <result column="image3" property="image3" jdbcType="VARCHAR" />
        <result column="image4" property="image4" jdbcType="VARCHAR" />
        <result column="image5" property="image5" jdbcType="VARCHAR" />
        <result column="image6" property="image6" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="length" property="length" jdbcType="DECIMAL" />
        <result column="width" property="width" jdbcType="DECIMAL" />
        <result column="height" property="height" jdbcType="DECIMAL" />
        <result column="weight" property="weight" jdbcType="DECIMAL" />
        <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
        <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
        <result column="style_code" property="styleCode" jdbcType="VARCHAR" />
        <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
        <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="is_authorized" property="authorized" jdbcType="TINYINT" />
        <result column="item_id" property="itemId" jdbcType="BIGINT" />
        <result column="owner_id" property="ownerId" jdbcType="BIGINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
    </resultMap>

    <resultMap id="ItemInfoMap" type="com.rongcheng.erp.entity.vo.ItemInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="erp_item_num" property="erpItemNum" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="BIGINT" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="platform_id" property="platformId" jdbcType="BIGINT" />
        <result column="platform_item_sku" property="platformItemSku" jdbcType="BIGINT" />
        <result column="user_shop_code" property="userShopCode" jdbcType="VARCHAR" />
        <result column="user_item_code" property="userItemCode" jdbcType="VARCHAR" />
        <result column="warehouse_id" property="warehouseId" jdbcType="BIGINT" />
        <result column="image1" property="image1" jdbcType="VARCHAR" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="brand" property="brand" jdbcType="VARCHAR" />
        <result column="series" property="series" jdbcType="VARCHAR" />
        <result column="color" property="color" jdbcType="VARCHAR" />
        <result column="size" property="size" jdbcType="VARCHAR" />
        <result column="normal_price" property="normalPrice" jdbcType="DECIMAL" />
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
        <result column="promotion_price" property="promotionPrice" jdbcType="DECIMAL" />
        <result column="bar_code" property="barCode" jdbcType="TIMESTAMP" />
        <result column="package_condition" property="packageCondition" jdbcType="VARCHAR" />
        <result column="user_classification" property="userClassification" jdbcType="VARCHAR" />
        <result column="is_presell" property="presell" jdbcType="TINYINT" />
        <result column="is_commission_sell" property="commissionSell" jdbcType="TINYINT" />
        <result column="is_gift" property="gift" jdbcType="TINYINT" />
        <result column="bar_code_image" property="barCodeImage" jdbcType="VARCHAR" />
        <result column="qr_code_image" property="qrCodeImage" jdbcType="VARCHAR" />
        <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
        <result column="is_authorized" property="authorized" jdbcType="VARCHAR" />
        <result column="item_secret_key" property="itemSecretKey" jdbcType="VARCHAR" />
        <result column="owner_id" property="ownerId" jdbcType="BIGINT" />
        <result column="shop_id" property="shopId" jdbcType="BIGINT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="operator_id" property="operatorId" jdbcType="BIGINT" />
        <result column="spec" property="spec" jdbcType="VARCHAR" />
        <result column="image2" property="image2" jdbcType="VARCHAR" />
        <result column="image3" property="image3" jdbcType="VARCHAR" />
        <result column="image4" property="image4" jdbcType="VARCHAR" />
        <result column="image5" property="image5" jdbcType="VARCHAR" />
        <result column="image6" property="image6" jdbcType="VARCHAR" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="length" property="length" jdbcType="DECIMAL" />
        <result column="width" property="width" jdbcType="DECIMAL" />
        <result column="height" property="height" jdbcType="DECIMAL" />
        <result column="weight" property="weight" jdbcType="DECIMAL" />
        <result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
        <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
        <result column="style_code" property="styleCode" jdbcType="VARCHAR" />
        <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
        <result column="reserved3" property="reserved3" jdbcType="VARCHAR" />
        <result column="item_id" property="itemId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="selectItemInfo">
            t.id, t.erp_item_num, t.name, t.short_name, t.platform_id, t.platform_item_sku, 
            t.user_shop_code, t.user_item_code, t.warehouse_id, t.image1, t.category, t.brand, 
            t.series, t.color, t.size, t.normal_price, t.cost_price, t.promotion_price, 
            t.bar_code, t.package_condition, t.user_classification, t.is_presell, t.is_commission_sell, 
            t.is_gift, t.bar_code_image, t.qr_code_image, t.reserved1, t.note, t.is_authorized, 
            t.item_secret_key, t.owner_id, t.shop_id, t.gmt_create, t.gmt_modified, t.operator_id, t.spec, 

            d.image2, d.image3, d.image4, d.image5, d.image6, d.unit, d.length, d.width, d.height, 
            d.weight, d.batch_code, d.expire_date, d.style_code, d.reserved2, d.reserved1 as reserved3, d.item_id
    </sql>

    <select id="findUserAllItemInfo" resultMap="ItemInfoMap">
        select 
        <include refid="selectItemInfo"/>
        from item_esp_info as d, item_common_info as t
        where t.id = d.item_id and t.owner_id = #{ownerId,jdbcType=BIGINT} limit #{startPage}, #{row}
    </select>
    
    <select id="findUserItemCount" resultType="int">
        select count(t.id) from item_common_info as t, item_esp_info as d 
        where t.owner_id = #{ownerId,jdbcType=BIGINT} and t.id = d.item_id
    </select>
    
    <select id="findItemInfoByLike"  resultMap="ItemInfoMap">
        select 
            id, erp_item_num, name, short_name, platform_id, platform_item_sku, 
            user_shop_code, user_item_code, warehouse_id, image1, category, brand, 
            series, color, size, normal_price, cost_price, promotion_price, 
            bar_code, package_condition, user_classification, is_presell, is_commission_sell, 
            is_gift, bar_code_image, qr_code_image, reserved1, note, is_authorized, 
            item_secret_key, owner_id, shop_id, gmt_create, gmt_modified, operator_id, spec, 

            image2, image3, image4, image5, image6, unit, length, width, height, 
            weight, batch_code, expire_date, style_code, reserved2, reserved3, item_id
        from(select
        <include refid="selectItemInfo"/>
        from item_esp_info as d, item_common_info as t
        where t.erp_item_num like CONCAT(CONCAT('%', #{keyWord,jdbcType=VARCHAR}), '%')
                and t.id = d.item_id  and t.owner_id = #{ownerId,jdbcType=VARCHAR}
        UNION ALL
        select
        <include refid="selectItemInfo"/>
        from item_esp_info as d, item_common_info as t
        where t.name like CONCAT(CONCAT('%', #{keyWord,jdbcType=VARCHAR}), '%')
                and t.id = d.item_id  and t.owner_id = #{ownerId,jdbcType=VARCHAR}
        UNION ALL
        select
        <include refid="selectItemInfo"/>
        from item_esp_info as d, item_common_info as t
        where t.platform_id like CONCAT(CONCAT('%', #{keyWord,jdbcType=VARCHAR}), '%')
            and t.id = d.item_id  and t.owner_id = #{ownerId,jdbcType=VARCHAR}) as query
        limit #{startPage}, #{row}
    </select>

    <select id="findUserItemCountByLike"  resultType="int">
       select count(id)from(
	        select id from item_common_info
	            where erp_item_num like CONCAT(CONCAT('%', #{keyWord,jdbcType=VARCHAR}), '%')
	                  and owner_id = #{ownerId,jdbcType=VARCHAR}
	        UNION
	        select id from item_common_info
	            where name like CONCAT(CONCAT('%', #{keyWord,jdbcType=VARCHAR}), '%')
	                  and owner_id = #{ownerId,jdbcType=VARCHAR}
	        UNION
	        select id from item_common_info
	            where platform_id like CONCAT(CONCAT('%', #{keyWord,jdbcType=VARCHAR}), '%')
	                  and owner_id = #{ownerId,jdbcType=VARCHAR}
       ) as query
    </select>
    
    <select id="findItemMaxId"  resultType="java.math.BigInteger">
        select max(id) from item_common_info
    </select>
    
    <select id="findItemInfoById" resultMap="ItemInfoMap">
        select
        <include refid="selectItemInfo"/>
        from item_esp_info d, item_common_info t 
        where t.id = d.item_id and t.id = #{id,jdbcType=BIGINT}
    </select>
 
    <delete id="removeItemEspInfo" parameterType="java.math.BigInteger">
        delete from item_esp_info where item_id=#{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="removeItemCommonInfo" parameterType="java.math.BigInteger">
        delete from item_common_info where id=#{id,jdbcType=BIGINT}
    </delete>
    
    <insert id="saveItemCommonInfo">
        insert into Item_common_info 
        <trim prefix="(gmt_create," suffix=")" suffixOverrides="," >
        <if test="id != null" >
            id,
        </if>
        <if test="erpItemNum != null" >
            erp_item_num,
        </if>
        <if test="name != null" >
            name,
        </if>
        <if test="shortName != null" >
            short_name,
        </if>
        <if test="platformId != null" >
            platform_id,
        </if>
        <if test="platformItemSku != null" >
            platform_item_sku,
        </if>
        <if test="userShopCode != null" >
            user_shop_code,
        </if>
        <if test="userItemCode != null" >
            user_item_code,
        </if>
        <if test="warehouseId != null" >
            warehouse_id,
        </if>
        <if test="image1 != null" >
            image1,
        </if>
        <if test="category != null" >
            category,
        </if>
        <if test="brand != null" >
            brand,
        </if>
        <if test="series != null" >
            series,
        </if>
        <if test="color != null" >
            color,
        </if>
        <if test="size != null" >
            size,
        </if>
        <if test="normalPrice != null" >
            normal_price,
        </if>
        <if test="costPrice != null" >
            cost_price,
        </if>
        <if test="promotionPrice != null" >
            promotion_price,
        </if>
        <if test="barCode != null" >
            bar_code,
        </if>
        <if test="packageCondition != null" >
            package_condition,
        </if>
        <if test="userClassification != null" >
            user_classification,
        </if>
        <if test="presell != null" >
            is_presell,
        </if>
        <if test="commissionSell != null" >
            is_commission_sell,
        </if>
        <if test="gift != null" >
            is_gift,
        </if>
        <if test="barCodeImage != null" >
            bar_code_image,
        </if>
        <if test="qrCodeImage != null" >
            qr_code_image,
        </if>
        <if test="reserved1 != null" >
            reserved1,
        </if>
        <if test="note != null" >
            note,
        </if>
        <if test="authorized != null" >
            is_authorized,
        </if>
        <if test="itemSecretKey != null" >
            item_secret_key,
        </if>
        <if test="ownerId != null" >
            owner_id,
        </if>
        <if test="shopId != null" >
            shop_id,
        </if>
        <if test="gmtModified != null" >
            gmt_modified,
        </if>
        <if test="operatorId != null" >
            operator_id,
        </if>
        <if test="spec != null" >
            spec,
        </if>
    </trim>
	    <trim prefix="values (now()," suffix=")" suffixOverrides="," >
	        <if test="id != null" >
	            #{id, jdbcType=BIGINT},
	        </if>
	        <if test="erpItemNum != null" >
	            #{erpItemNum, jdbcType=VARCHAR},
	        </if>
	        <if test="name != null" >
	            #{name, jdbcType=VARCHAR},
	        </if>
	        <if test="shortName != null" >
	            #{shortName, jdbcType=VARCHAR},
	        </if>
	        <if test="platformId != null" >
	            #{platformId, jdbcType=BIGINT},
	        </if>
	        <if test="platformItemSku != null" >
	            #{platformItemSku, jdbcType=BIGINT},
	        </if>
	        <if test="userShopCode != null" >
	            #{userShopCode, jdbcType=VARCHAR},
	        </if>
	        <if test="userItemCode != null" >
	            #{userItemCode, jdbcType=VARCHAR},
	        </if>
	        <if test="warehouseId != null" >
	            #{warehouseId, jdbcType=BIGINT},
	        </if>
	        <if test="image1 != null" >
	            #{image1, jdbcType=VARCHAR},
	        </if>
	        <if test="category != null" >
	            #{category, jdbcType=VARCHAR},
	        </if>
	        <if test="brand != null" >
	            #{brand, jdbcType=VARCHAR},
	        </if>
	        <if test="series != null" >
	            #{series, jdbcType=VARCHAR},
	        </if>
	        <if test="color != null" >
	            #{color, jdbcType=VARCHAR},
	        </if>
	        <if test="size != null" >
	            #{size, jdbcType=VARCHAR},
	        </if>
	        <if test="normalPrice != null" >
	            #{normalPrice, jdbcType=DECIMAL},
	        </if>
	        <if test="costPrice != null" >
	            #{costPrice, jdbcType=DECIMAL},
	        </if>
	        <if test="promotionPrice != null" >
	            #{promotionPrice, jdbcType=DECIMAL},
	        </if>
	        <if test="barCode != null" >
	            #{barCode, jdbcType=VARCHAR},
	        </if>
	        <if test="packageCondition != null" >
	            #{packageCondition, jdbcType=VARCHAR},
	        </if>
	        <if test="userClassification != null" >
	            #{userClassification, jdbcType=VARCHAR},
	        </if>
	        <if test="presell != null" >
	            #{presell, jdbcType=TINYINT},
	        </if>
	        <if test="commissionSell != null" >
	            #{commissionSell, jdbcType=TINYINT},
	        </if>
	        <if test="gift != null" >
	            #{gift, jdbcType=TINYINT},
	        </if>
	        <if test="barCodeImage != null" >
	            #{barCodeImage, jdbcType=VARCHAR},
	        </if>
	        <if test="qrCodeImage != null" >
	            #{qrCodeImage, jdbcType=VARCHAR},
	        </if>
	        <if test="reserved1 != null" >
	            #{reserved1, jdbcType=VARCHAR},
	        </if>
	        <if test="note != null" >
	            #{note, jdbcType=VARCHAR},
	        </if>
	        <if test="authorized != null" >
	            #{authorized, jdbcType=TINYINT},
	        </if>
	        <if test="itemSecretKey != null" >
	            #{itemSecretKey, jdbcType=VARCHAR},
	        </if>
	        <if test="ownerId != null" >
	            #{ownerId, jdbcType=BIGINT},
	        </if>
	        <if test="shopId != null" >
	            #{shopId, jdbcType=BIGINT},
	        </if>
	        <if test="gmtModified != null" >
	            #{gmtModified, jdbcType=TIMESTAMP},
	        </if>
	        <if test="operatorId != null" >
	            #{operatorId, jdbcType=BIGINT},
	        </if>
	        <if test="spec != null" >
	            #{spec, jdbcType=VARCHAR},
	        </if>
	    </trim>
    </insert>
    
    <insert id="saveItemEspInfo">
        insert into  Item_Esp_info 
        <trim prefix="(gmt_create," suffix=")" suffixOverrides="," >
        <if test="id != null" >
            id,
        </if>
        <if test="name != null" >
            name,
        </if>
        <if test="platformId != null" >
            platform_id,
        </if>
        <if test="platformItemSku != null" >
            platform_item_sku,
        </if>
        <if test="spec != null" >
            spec,
        </if>
        <if test="image2 != null" >
            image2,
        </if>
        <if test="image3 != null" >
            image3,
        </if>
        <if test="image4 != null" >
            image4,
        </if>
        <if test="image5 != null" >
            image5,
        </if>
        <if test="image6 != null" >
            image6,
        </if>
        <if test="unit != null" >
            unit,
        </if>
        <if test="length != null" >
            length,
        </if>
        <if test="width != null" >
            width,
        </if>
        <if test="height != null" >
            height,
        </if>
        <if test="weight != null" >
            weight,
        </if>
        <if test="batchCode != null" >
            batch_code,
        </if>
        <if test="expireDate != null" >
            expire_date,
        </if>
        <if test="styleCode != null" >
            style_code,
        </if>
        <if test="reserved2 != null" >
            reserved2,
        </if>
        <if test="reserved1 != null" >
            reserved1,
        </if>
        <if test="note != null" >
            note,
        </if>
        <if test="authorized != null" >
            is_authorized,
        </if>
        <if test="itemId != null" >
            item_id,
        </if>
        <if test="ownerId != null" >
            owner_id,
        </if>
        <if test="gmtModified != null" >
            gmt_modified,
        </if>
        <if test="operatorId != null" >
            operator_id,
        </if>
    </trim>
	    <trim prefix="values (now()," suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	            #{id, jdbcType=BIGINT},
	        </if>
	        <if test="name != null" >
	            #{name, jdbcType=VARCHAR},
	        </if>
	        <if test="platformId != null" >
	            #{platformId, jdbcType=BIGINT},
	        </if>
	        <if test="platformItemSku != null" >
	            #{platformItemSku, jdbcType=BIGINT},
	        </if>
	        <if test="spec != null" >
	            #{spec, jdbcType=VARCHAR},
	        </if>
	        <if test="image2 != null" >
	            #{image2, jdbcType=VARCHAR},
	        </if>
	        <if test="image3 != null" >
	            #{image3, jdbcType=VARCHAR},
	        </if>
	        <if test="image4 != null" >
	            #{image4, jdbcType=VARCHAR},
	        </if>
	        <if test="image5 != null" >
	            #{image5, jdbcType=VARCHAR},
	        </if>
	        <if test="image6 != null" >
	            #{image6, jdbcType=VARCHAR},
	        </if>
	        <if test="unit != null" >
	            #{unit, jdbcType=VARCHAR},
	        </if>
	        <if test="length != null" >
	            #{length, jdbcType=DECIMAL},
	        </if>
	        <if test="width != null" >
	            #{width, jdbcType=DECIMAL},
	        </if>
	        <if test="height != null" >
	            #{height, jdbcType=DECIMAL},
	        </if>
	        <if test="weight != null" >
	            #{weight, jdbcType=DECIMAL},
	        </if>
	        <if test="batchCode != null" >
                #{batchCode, jdbcType=VARCHAR},
            </if>
	        <if test="expireDate != null" >
	            #{expireDate, jdbcType=TIMESTAMP},
	        </if>
	        <if test="styleCode != null" >
	            #{styleCode, jdbcType=VARCHAR},
	        </if>
	        <if test="reserved2 != null" >
	            #{reserved2, jdbcType=VARCHAR},
	        </if>
	        <if test="reserved1 != null" >
	            #{reserved1, jdbcType=VARCHAR},
	        </if>
	        <if test="note != null" >
	            #{note, jdbcType=VARCHAR},
	        </if>
	        <if test="authorized != null" >
	            #{authorized, jdbcType=TINYINT},
	        </if>
	        <if test="itemId != null" >
	            #{itemId, jdbcType=BIGINT},
	        </if>
	        <if test="ownerId != null" >
	            #{ownerId, jdbcType=BIGINT},
	        </if>
	        <if test="gmtModified != null" >
	            #{gmtModified, jdbcType=TIMESTAMP},
	        </if>
	        <if test="operatorId != null" >
	            #{operatorId, jdbcType=BIGINT},
	        </if>
	     </trim>
    </insert>

    <update id="updateItemCommonInfo" parameterType="com.rongcheng.erp.entity.ItemCommonInfo" >
        update item_common_info 
        <set>
	        <if test="name != null" >
	            name = #{name, jdbcType=VARCHAR},
	        </if>
	        <if test="shortName != null" >
	            short_name = #{shortName, jdbcType=VARCHAR},
	        </if>
	        <if test="platformId != null" >
	            platform_id = #{platformId, jdbcType=BIGINT},
	        </if>
	        <if test="platformItemSku != null" >
	            platform_item_sku#{platformItemSku, jdbcType=BIGINT},
	        </if>
	        <if test="userShopCode != null" >
	            user_shop_code = #{userShopCode, jdbcType=VARCHAR},
	        </if>
	        <if test="userItemCode != null" >
	            user_item_code = #{userItemCode, jdbcType=VARCHAR},
	        </if>
	        <if test="warehouseId != null" >
	            warehouse_id = #{warehouseId, jdbcType=BIGINT},
	        </if>
	        <if test="image1 != null" >
	            image1 = #{image1, jdbcType=VARCHAR},
	        </if>
	        <if test="category != null" >
	            category = #{category, jdbcType=VARCHAR},
	        </if>
	        <if test="brand != null" >
	            brand = #{brand, jdbcType=VARCHAR},
	        </if>
	        <if test="series != null" >
	            series = #{series, jdbcType=VARCHAR},
	        </if>
	        <if test="color != null" >
	            color = #{color, jdbcType=VARCHAR},
	        </if>
	        <if test="size != null" >
	            size = #{size, jdbcType=VARCHAR},
	        </if>
	        <if test="normalPrice != null" >
	            normal_price = #{normalPrice, jdbcType=DECIMAL},
	        </if>
	        <if test="costPrice != null" >
	            cost_price = #{costPrice, jdbcType=DECIMAL},
	        </if>
	        <if test="promotionPrice != null" >
	            promotion_price = #{promotionPrice, jdbcType=DECIMAL},
	        </if>
	        <if test="barCode != null" >
	            bar_code = #{barCode, jdbcType=VARCHAR},
	        </if>
	        <if test="packageCondition != null" >
	            package_condition = #{packageCondition, jdbcType=VARCHAR},
	        </if>
	        <if test="userClassification != null" >
	            user_classification = #{userClassification, jdbcType=VARCHAR},
	        </if>
	        <if test="presell != null" >
	            is_presell = #{presell, jdbcType=TINYINT},
	        </if>
	        <if test="commissionSell != null" >
	            is_commission_sell = #{commissionSell, jdbcType=TINYINT},
	        </if>
	        <if test="gift != null" >
	            is_gift = #{gift, jdbcType=TINYINT},
	        </if>
	        <if test="barCodeImage != null" >
	            bar_code_image = #{barCodeImage, jdbcType=VARCHAR},
	        </if>
	        <if test="qrCodeImage != null" >
	            qr_code_image = #{qrCodeImage, jdbcType=VARCHAR},
	        </if>
	        <if test="reserved1 != null" >
	            reserved1 = #{reserved1, jdbcType=VARCHAR},
	        </if>
	        <if test="note != null" >
	            note = #{note, jdbcType=VARCHAR},
	        </if>
	        <if test="authorized != null" >
	            is_authorized = #{authorized, jdbcType=TINYINT},
	        </if>
	        <if test="itemSecretKey != null" >
	            item_secret_key = #{itemSecretKey, jdbcType=VARCHAR},
	        </if>
	        <if test="shopId != null" >
	            shop_id = #{shopId, jdbcType=BIGINT},
	        </if>
	            gmt_modified =now(),
	        <if test="operatorId != null" >
	            operator_id = #{operatorId, jdbcType=BIGINT},
	        </if>
	        <if test="spec != null" >
	            spec = #{spec, jdbcType=VARCHAR},
	        </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>
    
    <update id="updateItemEspInfo" parameterType="com.rongcheng.erp.entity.ItemEspInfo">
        update Item_esp_info
        <set>
            <if test="id != null" >
                id = #{id, jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="platformId != null" >
                platform_id = #{platformId, jdbcType=BIGINT},
            </if>
            <if test="platformItemSku != null" >
                platform_item_sku = #{platformItemSku, jdbcType=BIGINT},
            </if>
            <if test="spec != null" >
                spec = #{spec, jdbcType=VARCHAR},
            </if>
            <if test="image2 != null" >
                image2 = #{image2, jdbcType=VARCHAR},
            </if>
            <if test="image3 != null" >
                image3 = #{image3, jdbcType=VARCHAR},
            </if>
            <if test="image4 != null" >
                image4 = #{image4, jdbcType=VARCHAR},
            </if>
            <if test="image5 != null" >
                image5 = #{image5, jdbcType=VARCHAR},
            </if>
            <if test="image6 != null" >
                image6 = #{image6, jdbcType=VARCHAR},
            </if>
            <if test="unit != null" >
                unit = #{unit, jdbcType=VARCHAR},
            </if>
            <if test="length != null" >
                length = #{length, jdbcType=DECIMAL},
            </if>
            <if test="width != null" >
                width = #{width, jdbcType=DECIMAL},
            </if>
            <if test="height != null" >
                height = #{height, jdbcType=DECIMAL},
            </if>
            <if test="weight != null" >
                weight = #{weight, jdbcType=DECIMAL},
            </if>
            <if test="expireDate != null" >
                expire_date = #{expireDate, jdbcType=TIMESTAMP},
            </if>
            <if test="styleCode != null" >
                style_code = #{styleCode, jdbcType=VARCHAR},
            </if>
            <if test="reserved2 != null" >
                reserved2 = #{reserved2, jdbcType=VARCHAR},
            </if>
            <if test="reserved1 != null" >
                reserved1 = #{reserved1, jdbcType=VARCHAR},
            </if>
            <if test="note != null" >
                note = #{note, jdbcType=VARCHAR},
            </if>
            <if test="authorized != null" >
                is_authorized = #{authorized, jdbcType=TINYINT},
            </if>
            <if test="itemId != null" >
                item_id = #{itemId, jdbcType=BIGINT},
            </if>
            <if test="ownerId != null" >
                owner_id = #{ownerId, jdbcType=BIGINT},
            </if>
                gmt_modified = now(),
            <if test="operatorId != null" >
                operator_id = #{operatorId, jdbcType=BIGINT},
            </if>
        </set>
         where item_id = #{itemId, jdbcType=BIGINT}
    </update>
</mapper>