<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongcheng.erp.dao.Wzy_InvertoryAllAddressDao">

    <resultMap id="AddressCarrierAllocationMap" type="com.rongcheng.erp.entity.vo.AddressCarrierAllocation" >
        <id column="region_id" property="regionId" jdbcType="BIGINT" />
        <result column="region_code" property="regionCode" jdbcType="BIGINT" />
        <result column="region_name" property="name" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    </resultMap>
    
    <select id="findWarehouseCover" resultType="int">
        select cover_region_id from warehouse_region_shop
        <where>
            <if test="ownerId != null">
               and owner_id = #{ownerId,jdbcType=BIGINT}
            </if>
            <if test="warehouseId != null">
               and warehouse_id = #{warehouseId,jdbcType=BIGINT}
            </if>
            <if test="ownerId != null">
               and stocklocation_id = #{stocklocationId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
    
    <select id="findAddressCarrierAllocation" resultMap="AddressCarrierAllocationMap">
        select region_id, parent_id, region_name, region_code from address_carrier_allocation
        where right(region_code,4)="0000";
    </select>
    
    <select id="findAddressCarrierAllocationSecond" resultMap="AddressCarrierAllocationMap">
        select region_id, parent_id, region_name, region_code from address_carrier_allocation
        where right(region_code,2)="00" and right(region_code,4)!="0000"
    </select>
    
    <delete id="deleteCoverArea">
        delete from warehouse_region_shop 
        <where>
            <if test="ownerId != null">
               and owner_id = #{ownerId,jdbcType=BIGINT}
            </if>
            <if test="warehouseId != null">
               and warehouse_id = #{warehouseId,jdbcType=BIGINT}
            </if>
            <if test="ownerId != null">
               and stocklocation_id = #{stocklocationId,jdbcType=BIGINT}
            </if>
            <if test="coverRegionId != null">
                and cover_region_id = #{coverRegionId, jdbcType=BIGINT}
            </if>
        </where>
    </delete>
    
    <insert id="saveCoverArea">
        insert into warehouse_region_shop
        <trim prefix="(gmt_create," suffix=")" suffixOverrides=",">
            <if test=" warehouseId != null">
                warehouse_id, 
            </if>
            <if test=" stocklocationId != null">
                stocklocation_id,
            </if>
            <if test=" ownerId != null">
                owner_id,
            </if>
            <if test=" coverRegionId != null">
                cover_region_id,
            </if>
        </trim>
        <trim prefix="values(now()," suffix=")" suffixOverrides=",">
            <if test=" warehouseId != null">
                #{warehouseId, jdbcType=BIGINT},
            </if>
            <if test=" stocklocationId != null">
                #{stocklocationId, jdbcType=BIGINT},
            </if>
            <if test=" ownerId != null">
                #{ownerId, jdbcType=BIGINT},
            </if>
            <if test=" coverRegionId != null">
                #{coverRegionId, jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
</mapper>