<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	<!-- 启用注解驱动 并配置转换器 -->
	<mvc:annotation-driven conversion-service="conversionService" />

	<!-- 配置组件扫描 -->
	<context:component-scan base-package="com.rongcheng.erp" />

	<!-- 配置用于session验证的拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/admin.do" />
			<mvc:exclude-mapping path="/login.do" />
			<mvc:exclude-mapping path="/createImg.do" />
			<mvc:exclude-mapping path="/jd/**" />
			<mvc:exclude-mapping path="/urlConnection/**" />
			<bean class="com.rongcheng.erp.interceptor.SessionInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 自定义参数绑定，不知道为啥这里还需要配置 multipartResolver bean-->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="formatters">
			<set>
				<!-- 日期类型转换 -->
				<bean id="customTimestampConverter" class="com.rongcheng.erp.converter.CustomTimestampConverter" />
			</set>
		</property>
	</bean>

    <!--上传图片-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8" />
    </bean>

    <!--加载配置文件config，在java中使用-->
	<bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:conf/config.properties" />
		<property name="fileEncoding" value="UTF-8" />
	</bean>

	<!-- 定义跳转的文件的前后缀 ，视图模式配置 视图解析 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="itemAutoIncrId" class="com.rongcheng.erp.jd.item.converter.incrId.ItemAutoIncrId"></bean>
	<bean id="orderAutoIncrId" class="com.rongcheng.erp.jd.order.converter.incrId.OrderAutoIncrId"></bean>
</beans>