<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.rongcheng.erp.dao.ZB_CarrierInfoDAO">
	<!-- /**
     * 根据ID查询快递信息
     * @param id ID
     * @param ownerId   主账户ID
     * @return CarrierInfo 快递信息
     * @author 赵滨
     */ -->
	<select id="getCarrierInfoById" 
            resultType="com.rongcheng.erp.entity.CarrierInfo">
        select  
            id,
            carrier_name as carrierName,
            carrier_logo as carrierLogo,
            terminal_name as terminalName,
            terminal_code as terminalCode,
            reserved1,
            note,
            owner_id as ownerId,
            operator_id as operatorId,
            is_authorized as authorized,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from 
            carrier_info
        where 
            owner_id=#{1}
        and
            id=#{0}
        
    </select>

    <!-- /**
     * 查询全部快递信息
     * @param ownerId   主账户ID
     * @return List<CarrierInfo> 快递信息集合
     * @author 赵滨
     */ -->
    <select id="listCarrierInfoAll" 
            resultType="com.rongcheng.erp.entity.CarrierInfo">
        select  
            id,
            carrier_name as carrierName,
            carrier_logo as carrierLogo,
            terminal_name as terminalName,
            terminal_code as terminalCode,
            reserved1,
            note,
            owner_id as ownerId,
            operator_id as operatorId,
            is_authorized as authorized,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from 
            carrier_info
        where 
            owner_id=#{0}
    </select>
</mapper>









