<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.rongcheng.erp.dao.ZB_PrintTemplateDAO">
    
    <!-- /**
     * 根据页数查询单据模板
     * @param params 第几条开始, 查找多少条, 是否授权, 主账户ID, 模版类型[]
     * @return List<PrintTemplate>  单据模版的集合
     * @author 赵滨
     */ -->
    <select id="listPrintTemplateByPage" 
            resultType="com.rongcheng.erp.entity.PrintTemplate">
        select  
            id,
            carrier_id as carrierId,
            carrier_name as carrierName,
            template_name as templateName,
            template_image as templateImage,
            template_type as templateType,
            is_electronic_waybill as electronicWaybill,
            template_width as templateWidth,
            template_height as templateHeight,
            print_choice as printChoice,
            reserved1,
            note,
            owner_id as ownerId,
            operator_id as operatorId,
            is_authorized as authorized,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from 
            print_template 
        <trim prefix="WHERE" prefixOverrides="AND"> 
	        <if test="ownerId != null">owner_id = #{ownerId}</if>
	        <if test="templateType!=null and templateType.length!=0">and template_type IN
	            <foreach collection="templateType" item="item" open="(" separator="," close=")">
	                #{item}
	            </foreach>
	        </if>
	        <if test="start != null and rows != null">order by id asc limit #{start},#{rows}</if> 
        </trim> 
    </select>

    <!-- /**
     * 保存单据模板
     * @param printTemplate 单据模板
     * @return row 存储的行数
     * @author 赵滨
     */ -->
    <insert id="savePrintTemplate" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.rongcheng.erp.entity.PrintTemplate">
        insert into print_template 
        (
            id,
            carrier_id,
            carrier_name,
            template_name,
            template_image,
            template_type,
            is_electronic_waybill,
            template_width,
            template_height,
            print_choice,
            reserved1,
            note,
            owner_id,
            operator_id,
            is_authorized,
            gmt_create,
            gmt_modified
        )           
        values 
        (
            #{id},
            #{carrierId},
            #{carrierName},
            #{templateName},
            #{templateImage},
            #{templateType},
            #{electronicWaybill},
            #{templateWidth},
            #{templateHeight},
            #{printChoice},
            #{reserved1},
            #{note},
            #{ownerId},
            #{operatorId},
            #{authorized},
            #{gmtCreate},
            #{gmtModified}
        )
    </insert>
    
    <!-- /**
     * 移除单据模板
     * @param id
     * @param authorized 是否授权
     * @param ownerId   主账号ID
     * @return row 删除的行数
     * @author 赵滨
     */ -->
    <delete id="removePrintTemplateById">
        delete from 
            print_template 
        where 
            id=#{0}
        and
            owner_id=#{1}
    </delete>
    
    <!-- /**
     * 更新单据模板
     * @param printTemplate
     * @return row 条数
     * @author 赵滨
     */ -->
    <update id="updatePrintTemplate" 
            parameterType="com.rongcheng.erp.entity.PrintTemplate">
        update 
            print_template 
        set
            carrier_id=#{carrierId},
            carrier_name=#{carrierName},
            template_name=#{templateName},
            template_image=#{templateImage},
            template_type=#{templateType},
            is_electronic_waybill=#{electronicWaybill},
            template_width=#{templateWidth},
            template_height=#{templateHeight},
            print_choice=#{printChoice},
            reserved1=#{reserved1},
            note=#{note},
            <!-- owner_id=#{ownerId}, -->
            operator_id=#{operatorId},
            is_authorized=#{authorized},
            <!-- gmt_create=#{gmtCreate}, -->
            gmt_modified=#{gmtModified}
        where 
            owner_id=#{ownerId} 
        and
            id=#{id}
    </update>
    
    <!-- /**
     * 查询单据模板最大条数
     * @param params 是否授权, 主账号ID, 模版类型[]
     * @return row  条数
     * @author 赵滨
     */ -->
    <select id="countPrintTemplate" resultType="int" >
        select 
            count(id) 
        from 
            print_template
        <trim prefix="WHERE" prefixOverrides="AND"> 
            <if test="ownerId != null">owner_id = #{ownerId}</if>
            <if test="templateType!=null and templateType.length!=0">and template_type IN
                <foreach collection="templateType" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim> 
    </select>
    
    <!-- /**
     * 查询单据模板图片 （无重复）
     * @param params 是否授权, 主账号ID, 模版类型[]
     * @return  List<PrintTemplate> 单据模版的集合
     * @author 赵滨
     */ -->
    <select id="listPrintTemplateByType" 
            resultType="com.rongcheng.erp.entity.PrintTemplate">
        select  
            id,
            carrier_id as carrierId,
            carrier_name as carrierName,
            template_name as templateName,
            template_image as templateImage,
            template_type as templateType,
            is_electronic_waybill as electronicWaybill,
            template_width as templateWidth,
            template_height as templateHeight,
            print_choice as printChoice,
            reserved1,
            note,
            owner_id as ownerId,
            operator_id as operatorId,
            is_authorized as authorized,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from 
            print_template 
        <trim prefix="WHERE" prefixOverrides="AND">
            owner_id = #{ownerId}
            and carrier_id = #{carrierInfoId}
            and template_type IN
            <foreach collection="templateType" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </trim>
    </select>
    
    <!-- /**
     * 查询单据模板 根据id
     * @param id    单据模板id
     * @param authorized 是否授权
     * @param ownerId   主账号ID
     * @return PrintTemplate 单据模板
     * @author 赵滨
     */ -->
    <select id="getPrintTemplateById" 
            resultType="com.rongcheng.erp.entity.PrintTemplate">
        select  
            id,
            carrier_id as carrierId,
            carrier_name as carrierName,
            template_name as templateName,
            template_image as templateImage,
            template_type as templateType,
            is_electronic_waybill as electronicWaybill,
            template_width as templateWidth,
            template_height as templateHeight,
            print_choice as printChoice,
            reserved1,
            note,
            owner_id as ownerId,
            operator_id as operatorId,
            is_authorized as authorized,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from 
            print_template 
        where 
            owner_id=#{1}
        and 
            id=#{0}
    </select>

    <!-- /**
     * 查询单据模版 根据模版名称
     * @param templateName 模版名称
     * @param ownerId 主账号id
     * @return List<PrintTemplate> 模版集合
     * @author 赵滨
     */ -->
    <select id="listPrintTemplateByLikeTemplateName" 
            resultType="com.rongcheng.erp.entity.PrintTemplate">
        select  
            id,
            carrier_id as carrierId,
            carrier_name as carrierName,
            template_name as templateName,
            template_image as templateImage,
            template_type as templateType,
            is_electronic_waybill as electronicWaybill,
            template_width as templateWidth,
            template_height as templateHeight,
            print_choice as printChoice,
            reserved1,
            note,
            owner_id as ownerId,
            operator_id as operatorId,
            is_authorized as authorized,
            gmt_create as gmtCreate,
            gmt_modified as gmtModified
        from 
            print_template 
        where 
            owner_id=#{1}
		and 
            template_name REGEXP CONCAT(CONCAT('^', #{0}), ' - 副本\\([0-9]+\\)$')
    </select>

    <!--/**
    * 初始模板条数
    * @return
    * @author 赵滨
    */-->
    <select id="getInitialTemplateIdCount" resultType="int">
        SELECT count(id)
        FROM print_template
        WHERE owner_id = 0
    </select>

    <!--/**
    * 获取最大模板ID
    * @return
    * @author 赵滨
    */-->
    <select id="getMaxTemplateId" resultType="java.math.BigInteger">
        SELECT max(id)
        FROM print_template
    </select>

    <!--/**
    * 初始化模板
    * @param id 模板ID
    * @param ownerId 主账号ID
    * @param timestamp 创建时间
    * @return
    * @author 赵滨
    */
    int (BigInteger id, BigInteger ownerId, Timestamp timestamp);-->
    <insert id="initializationPrintTemplate">
    insert into print_template
        (
            id,
            carrier_id,
            carrier_name,
            template_name,
            template_image,
            template_type,
            is_electronic_waybill,
            template_width,
            template_height,
            print_choice,
            reserved1,
            note,
            owner_id,
            operator_id,
            is_authorized,
            gmt_create,
            gmt_modified
        )
        (
            select
            id+#{0},
            carrier_id as carrierId,
            carrier_name as carrierName,
            template_name as templateName,
            template_image as templateImage,
            template_type as templateType,
            is_electronic_waybill as electronicWaybill,
            template_width as templateWidth,
            template_height as templateHeight,
            print_choice as printChoice,
            reserved1,
            note,
            #{1},
            operator_id as operatorId,
            is_authorized as authorized,
            #{2},
            null
        from
            print_template
        WHERE owner_id = 0
        )
    </insert>
</mapper>









